body{
    font-family:Arial, Helvetica, sans-serif;
    
}
.backgroud{
background: rgb(243, 237, 237);
background-repeat: no-repeat;
background-image:linear-gradient( to bottom, #072546, #0e3868);
background-size: 100% 600px;
display: flex;
justify-content: center;

}
.main{
 width: 80%;
}
.logo{
    height: 50px;
    width: 130px;
}
.data{
    display: flex;
justify-content: center;
position: relative;
}
.category{
    background-color: white;
    width: 80%;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow:0px 1px 15px 1px #7a7a7a;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
}
.category span{
    font-size: 15px;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    align-items: center;
   flex-direction: column;

}
.fa{
   font-size: 25px; 
   /* padding-bottom: 10px; */
   margin-bottom: 7px;
}

.tickets{
    background-color: white;
    width: 95%;
    height: 350px;
    position: absolute;
    top: 60px;
    z-index: 1;
    border-radius: 10px;
    padding: 20px;
    /* display: flex; */
   
}
.ticket-type{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.ticket-type span{
    margin: 10px;
}
.ticket-type div:nth-child(1) span{
    padding: 3px;
    /* margin: 1px; */
    background-color: #f2ecec;
    border-radius: 8px;
}
#booking{
   text-align: right;
   color: rgb(81, 80, 80);
   
}
.city{
     display: flex;
     
}
.city div{
margin-top: 20px;
    /* padding: 10px; */
    padding-left: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   
}
.city div:nth-child(5){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.city div:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 150%;
}
.city div p{
 font-size: 15px;
}
.city div input{
    display: none;
  width: 90%;
}

.select-type{
    margin-top: 20px;
    width: 70%;
    display: flex;
    
}
.select-type p{
    font-size: 15px;
    margin: 10px;
}
.select-type span{
    display: flex;
    padding: 1px;
    margin: 1px;
    background-color: #f5eeee;
    border-radius: 5px;
   
}

.search-button{
    width: 216px;
    height: 44px;
    background-color: rgb(69, 69, 214);
    color: white;
    font-size: 28px;
    border-radius: 25px;
  
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: var(--color-btn-primary-bg,linear-gradient(93deg,#53b2fe,#065af3));
   
    padding-top: 6px;
    bottom: -20px;
    left: 40%;
    position: absolute;
}

.new{
    position: absolute;
    bottom: -150px;
    width: 1300px;
    padding-bottom: 90px;
}

.new-card{
    width: 400px;
    height: 100px;
    background: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa{
    font-size: 34px;
}

.new-text{
    width: 200px;
}

.upfooter{
    position: absolute;
    bottom: -400px;
    width: 1300px;
    text-align: justify;
    font-size: 15px;
}
.upfooter p{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.category a:nth-child(2){
    text-decoration: none;
    color: rgb(105, 170, 244);
}
.category a:nth-child(1){
    text-decoration: none;
    color:black
}

#button{
    margin-left: 30px;
   background-color: #065af3;

    padding: 10px;
}
#button button{
    color: #f2ecec;
    background-color: #065af3;
    font-size: 20px;
    border: none;
   
}